/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    ;
}

section {
    margin-top: 130px;
}

.common-font-color {
    color: #FD6E0A;
}

/*Header and Navigation bar*/

.head-wrap {
    background: #FFF8F3;
    background-image: url(../header_bg.png), url(../developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    margin-bottom: 130px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px 0;

}

.navtitle {
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.primerybtn {
    padding: 20px 50px;
    background-color: #FD6E0A;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

/*Header banner part*/
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-content {
    width: 585px;
    min-height: 356px;
}

.banner-content h3 {
    font-size: 45px;
    color: #474747;
    padding: 5px 0;
}

.banner-content h1 {
    font-size: 85px;
    padding: 20px 0;
    font-weight: 700px;
    color: #181818;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}

.banner img {
    width: 584px;
    height: 676px;
}

/*Main Part */
main {
    width: 1140px;
    margin: 0 auto;

}

.about {
    padding: 130px 150px;
    background-color: #FFF8F3;
    border-radius: 25px;
    text-align: center;
}

.section-head {
    padding-bottom: 30px;
    font-size: 35px;
    color: #181818;
    text-align: center;
}

.section-content {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-name {
    color: #757575;
    font-size: 20px;
}

.info-value {
    font-weight: 700;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


.skill {
    width: 267px;
    margin-top: 130px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 40px;
}

.skill-description-wrap {
    width: 204px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0;
}

.skill-description {
    line-height: 28px;
}

/* Resume Style */
.summary-wrap {}

.education-wrap {
    width: 558px;
    margin-right: 50px;
}

.experience {
    width: 558px;
}

.resume-container {
    display: flex;

}

.resume-item {
    width: 511px;
    margin: 30px 0;

}

.resume-container-head {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}

.resume-item-title {
    font-size: 25px;
    color: #474747;
    padding-bottom: 10px;
}

.resume-item-subtitle {
    font-size: 25px;
    color: #474747;
}

.resume-item-description {
    color: #757575;
    line-height: 28px;
}

.summarybtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

/****** Contact Section ******/
footer{
    background-color: #FFF8F3;
}
.contact {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding-top: 150px;

}

.social-warp {
    margin-right: 117px;
}

.contact-item-head {
    font-size: 35px;
    padding-bottom: 20px;
}

.social-description {
    width: 562px;
    line-height: 28px;
    padding-bottom: 30px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.social-icons li {
    list-style: none;
}

.social-icons li img {
    width: 24px;
    height: 24px
}

.form-wrap {
    
}

.form-wrap input{
    margin-bottom: 24px;
    width: 461px;
    height: 64px;
    border: none;
    border-radius: 10px;
    padding-left:30px ;
    padding-top: 10px;
}
.form-wrap textarea{
    margin-bottom: 24px;
    width: 461px;
    height: 180px;
    border: none;
    border-radius: 10px;
    padding-left:30px ;
    padding-top: 20px;
}
.form-wrap a{
    margin-top: 20px;
}
